/* card-type "Showing features" */
.cards-container {
  background-color: #89B0AE;
  padding: 6em;
}

.cards {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  color: #0D1321
}

.card {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  text-align: center;
  background-color: #FAF9F9;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  margin: 1em;
  padding: 2em 2em 14em 2em;
  align-items: center;
  border-radius: 5px;
  position: relative;
}

.card h3 {
  font-size: 20px;
}

.card p {
  font-size: 16px;
  line-height: 150%;
  position: absolute;
  top: 14em;
  padding: 0em 2em;
}

.card i {
  font-size: 100px;
  color: #BEE3DB;
}

.card a {
  position: absolute;
  bottom: 2em;
}
